.cell {

    width: 200px;
    height: 200px;
    background-color: beige;
    border: 1px solid lightgray;
    overflow: hidden;
    font-size: 0px;
}

.cell-container {

    font-size: 0px;
    display: inline-flex;
}

#winnerText {
    font-size: 20pt;
}

.cell-container-container {
    font-size: 0px;
    margin: 30px;
    display: block;
}

#success {
    padding: 0;
    margin: 0;
}